:root {
    --hero-title-color: #ffffff;
    --second-title-color: #212121;
    --third-title-color: #212121;
    --main-text-color: #757575;
    --btn-text-color: #ffffff;
    --header-text-color: #212121;
    --accent-color: #2196F3;
    --header-link-color:#757575;
}

p, h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.conteiner{ 
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

button {
    cursor: pointer;
}

body {
    font-family:"Roboto", sans-serif;
    color: var(--main-text-color)
}

address {
    font-style: normal
}

a {
    text-decoration: none;
}
/*----------------HEADER-------------*/

.header-section {
    border-bottom: 1px solid;
    color: #ECECEC;
}

.header-conteiner {
    display: flex;
    align-items: center;
}
.header-nav-list {
    display: flex;
    margin-left: 93px;
}
.header-nav {
    display: flex;
    align-items: center;
}

.contacts {
    display: flex;
    margin-left: auto;
}

.header-nav-item:not(:last-child){
    margin-right: 50px;
}
.contacts-item+.contacts-item {
    margin-left: 50px;
}

.logo-firstpart {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}
.logo-secondpart {
    color: #000000;
}
.nav-link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    color:var(--header-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.mail-icon {
    display:inline-block;
    margin-right: 10px;
    fill:currentColor;
}
.tell-icon {
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
}
.mail-icon:hover {
    fill: var(--accent-color);
}
.tell-icon:hover {
    fill: var(--accent-color);
}
.contacts-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;

    color: var(--header-link-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

/*----------------HERO-------------*/
.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color:#2F303A;
    text-align: center;
}
.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
       rgba(47, 48, 58, 0.4),
       rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--hero-title-color);

}
.hero-button {
    display: inline-block;
    margin-top: 30px;
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;

    font-family: inherit;
    background-color:var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color:var(--btn-text-color);
    border-radius: 4px;
    border:none ;
}
 /*-----------priorities---------*/ 

.priorities-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--third-title-color);
}
.icon-conteiner {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background: #F5F4FA;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

 .priorities-title:not(:last-child){
    margin-right: 30px;
 }
 .priorities-text:not(:last-child){
    margin-right: 30px;
 }
 .priorities-list {
    display: flex;
 }

.priorities-text {
    margin-top: 10px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
/*-------------specification------------*/

.section.specification {
    padding-top: 0px;
}
.specification-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.specification-item:not(:last-child){
    margin-right: 30px;
}
.specification-list { 
    display: flex;
    margin-top: 50px;
}


.specification-title {
    text-align: center;
}
/*-------------TEAM------------*/

.team {
    background-color:#F5F4FA ;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}
.team-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--third-title-color);
}

.team-list {
    display: flex;
    margin-top: 50px;
}
.team-item:not(:last-child){
    margin-right: 30px;
}
.team-list-card {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #FFFFFF;
}
.team-sociallink-list {
    display: flex;
    justify-content: center;
}

.team-sociallink-item + .team-sociallink-item {
    margin-left: 10px;
}
.team-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--main-text-color)
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--accent-color);
    fill: white;
}


.team-sociall-icon 

.team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}
.team-title {
    text-align: center;
}

.team-list-profession{
    margin-top: 10px;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
/*-----------CLIENTS-----------*/

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--second-title-color)
}
.clients-list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}
.clients-item {
    width: 170px;
    height: 92px;
    
    
  
}
.clients-item +.clients-item {
    margin-left: 30px;
}
.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}
.clients-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    
    color: #AFB1B8;
    
}
.clients-icon {
    fill:currentColor;
}

/*-------------footer------------*/
.section-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;
}


.conteiner-footer {
    display: flex;
    align-items: baseline;
}
.join-list {
    display: flex;
    margin-top: 20px;
}
.footer-join-part {
    margin-left: 70px;
}
.join-item {
    width: 44px;
    height: 44px;
   
}
.join-item +.join-item {
    margin-left: 10px;
}
.footer-social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
}
.footer-social-icon {
    fill: #FFFFFF;
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}

.join-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-link {
    color: var(--main-text-color);
}


.address-section {
    margin-top:20px ;
}

.logo-firstpartfooter {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);

}
.logo-secondpartfooter {
    color: #FFFFFF;
}

.footer-contacts {
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.footer-address {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

/*-------------PORTFOLIO ------------*/

.portfolio-nav-item:not(:last-child){
    margin-right: 8px;
}

.portfolio-nav {
    display: flex;
    justify-content: center;
}

.portfolio-buttons {
    padding: 6px 22px;

    font-family: inherit; 
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color :#212121;
    border: none;
    border-radius: 4px;
}
/*------------PORTFOLIO BOX---------*/


.portfolio-list:nth-child(3n) {
    margin-right: 0;
}
.portfolio-list:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.portfolio-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--third-title-color);

}

.portfolio-list {
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-buttons:hover {
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.portfolio-buttons:focus {
    color: #FFFFFF;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    
}

.portfolio-list-type {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:var(--main-text-color);
}
.portfolio-list-card {
    padding-top: 20px;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 20px;

    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE; 

    background-color:#FFFFFF; 
}

.portfolio-list-item {
    display: block;
    color: getcolor('text-primary');  
  }
.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}